@charset "UTF-8";
*{
  margin:0px;
  padding: 0px;
  box-sizing: content-box;
}
footer{
	width: 1600px;
	height: 398px;
	padding: 0px 80px;
	margin: 0 auto;
	
}
#footerWrap{
	border-top: 1px solid #F2F2F2;
}
#footer1{
	width: 1624px;
	height: 233px;
	padding: 48px 0;
	margin: 0 -12px;
} 
#footer2{
	width: 1600px;
	height: 20px;
	padding: 24px 0px;
	border-top: 1px solid #DDDDDD;
}
.footer1_sec{
	float: left;
	width: 382px;
	height: 233px;
	padding: 0 12px;
}
.footer1_sec li{
	width: 382px;
	height: 20px;
	margin-top: 16px;
	font-size: 14px;
	word-spacing: -2px;
}
footer h4{
	margin: 0px;
	font-size: 12px;
	font-weight: 600;
}
footer a{
	text-decoration: none;
	color: black; 
}
footer ul{
	list-style: none;
}
#footer2_div1{
	width:1144px;
	margin-right: 20px;
	float: left;
	font-size: 14px;
}
.dot{
	display: inline-block;
    text-align: center;
    width: 7px;
}
#footer2_div2{
	float: left;
	width: 415px;	
	font-size:14px;
}
#footer2_div2 li{
	float: left;
} 

ul{
	padding: 0;
	margin:0;
}