._1lg7nazm {
    background: #FFFFFF !important;
    height: 80px !important;
    left: 0px !important;
    transition: box-shadow 0.3s cubic-bezier(0.35, 0, 0.65, 1) !important;
    width: 100% !important;
    z-index: 100 !important;
    position: absolute !important;
    font-weight: 600;
    display: block;
    box-sizing: border-box;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #484848;
}

._7p5w4i {
	padding-left: 80px !important;
    padding-right: 80px !important;
	max-width: var(--page-shell-max-content-width, 1760px) !important;
  	-webkit-box-align: center;
    align-items: center !important;
    display: flex !important;
    height: 100% !important;
    margin: 0 auto !important;
    position: relative !important;
    width: 100% !important;
    z-index: 1 !important;
    color: #FF385C !important;
    box-sizing: border-box;
}

._gpuobnr {
    -webkit-box-align: center !important;
    font-weight: inherit;
    outline: none !important;
    cursor: pointer;
    align-items: center !important;
    font-family: inherit;
    font-size: 100%;
    text-decoration: none;
    display: flex !important;
    height: 80px !important;
    position: relative !important;
    z-index: 1 !important;
    color: #FF385C !important;
}

._1grlqto {
    display: block !important;
    box-sizing: border-box;
    color: #FF385C !important;
	line-height: 1.43;
}

._17ctt5 {
    display: none !important;
    box-sizing: border-box;
    font-weight: inherit;
    font-family: inherit;
    font-size: 100%;
    cursor: pointer;
}

._1fmnqpr {
	box-sizing: border-box;
    flex: 1 1 auto !important;
    min-width: 0px !important;
    padding: 0 24px !important;
    text-align: center !important;
    display: block;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #484848;
    
}

._vuzcgs {
    -webkit-box-pack: end !important;  
    -webkit-box-align: center !important;
    position: relative !important;
    display: flex !important;
    align-items: center !important;
    justify-content: flex-end !important;
    height: 80px !important;
    box-sizing: border-box;
}

._w2q1b8 {
    box-sizing: border-box;
    display: flex !important;
    margin-right: 8px !important; 
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #484848;
}

._1ubw29 {
    position: relative !important;
    display: inline !important;
    box-sizing: border-box;
}

._547li01 {
    background: transparent !important;
    border: 0px !important;
    cursor: pointer !important;
    display: inline-block !important;
    font-family: inherit !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 18px !important;
    margin: 0px !important;
    outline: none !important;
    overflow: visible !important;
    padding: 12px !important;
    text-align: inherit !important;
    text-decoration: none !important;
    user-select: auto !important;
    position: relative !important;
    z-index: 1 !important;
    color: #222222 !important;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    align-items: flex-start;
    font: 400 13.3333px Arial;
}

._547li01::before {
    border-radius: 22px !important;
    bottom: 0px !important;
    content: "" !important;
    left: -3px !important;
    position: absolute !important;
    right: -3px !important;
    top: 0px !important;
    z-index: 0 !important;
    box-sizing: border-box;
}

._hxlt5h {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 16px !important;
    color: rgb(34, 34, 34) !important;
    display: none !important;
    margin-top: 34px !important;
    position: absolute !important;
    top: 50% !important;
    right: 0px !important;
    max-height: calc(100vh - 100px) !important;
    overflow-y: auto !important;
    z-index: 2 !important;
    min-width: 185px !important;
    background: rgb(255, 255, 255) !important;
    border-radius: 12px !important;
    padding: 8px 0px !important;
    box-sizing: border-box;
}

._1ncnxsuh {
    background: transparent !important;
    border: 0px !important;
    color: #222222 !important;
    cursor: pointer !important;
    display: flex !important;
    font-family: inherit !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 18px !important;
    margin: 0px !important;
    outline: none !important;
    overflow: visible !important;
    padding: 12px 16px !important;
    text-align: inherit !important;
    text-decoration: none !important;
    user-select: auto !important;
    width: 100% !important;
}

._ojs7nk {
    display:block;
    flex: 1 0 auto !important;
}

._2wzhk5 {
    margin-right: 8px !important;
    text-align: center !important;
    width: 16px !important;
    box-sizing: border-box;
}

._547li01 {
    background: transparent !important;
    border: 0px !important;
    cursor: pointer !important;
    display: inline-block !important;
    font-family: inherit !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 18px !important;
    margin: 0px !important;
    outline: none !important;
    overflow: visible !important;
    padding: 12px !important;
    text-align: inherit !important;
    text-decoration: none !important;
    user-select: auto !important;
    position: relative !important;
    z-index: 1 !important;
    color: #222222 !important;
    box-sizing: border-box;
}

._547li01::before {
    border-radius: 22px !important;
    bottom: 0px !important;
    content: "" !important;
    left: -3px !important;
    position: absolute !important;
    right: -3px !important;
    top: 0px !important;
    z-index: 0 !important;
    box-sizing: border-box;
}

._iglww7 {
    align-items: center !important;
    display: flex !important;
    height: 100% !important;
    position: relative !important;
    z-index: 1 !important;
}

._sxo1l2o {
    background: transparent !important;
    border: 1px solid transparent !important;
    cursor: pointer !important;
    display: inline-flex !important;
    font-family: inherit !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 18px !important;
    margin: 0px !important;
    outline: none !important;
    overflow: visible !important;
    padding: 0 16px !important;
    text-align: inherit !important;
    text-decoration: none !important;
    user-select: auto !important;
    align-items: center !important;
    border-radius: 21px !important;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.18) !important;
    height: 42px !important;
    position: relative !important;
    transition: box-shadow 0.2s ease !important;
    vertical-align: middle !important;
    white-space: nowrap !important;
    background-color: #FFFFFF !important;
    border-color: #EBEBEB !important;
    color: #222222 !important;
}

._1ophqko {
    margin-top: -1px !important;
    position: relative !important;
    z-index: 1 !important;
    box-sizing: border-box;
    display: block;
    
}

._qkr85q {
    height: 80px !important;
    box-sizing: border-box;
}













