@charset "UTF-8";

*{
  margin:0px;
  padding: 0px;
}


#c1_content{
	width: 1600px;
	height: 125px;
	padding: 0 80px;
	margin: 0 auto;
}

#c1_topBtm{
	margin: 24px 0 40px;
}

#contents1 span{
	font-size: 48px;
	color: rgb(200, 29, 92)
}

#c2_content{
	width: 1600px;
	height: 433px;
	padding: 0 80px;
	margin: 24px auto 0;
	background-color: yellow;
}

#contents3{
	width: 100%;
	height: 940px;
	padding: 64px 0 80px;
	margin-top: 54px;
	background-color: black;
}
#c3_content{
	width: 1600px;
	height: 948px;
	padding: 0px 80px 0 80px;
	margin: 0 auto;
	background-color: yellow;
}

#c4_content{
	width: 1600px;
	height: 202px;
	padding: 0px 80px 0 80px;
	margin: 0 auto;
	background-color: pink;
}
#c4_topBtm{
	margin: 80px 0;
}

#c5Wrap{
	width: 100%;
	background-color: rgb(247, 247, 247);
	border-bottom: 1px solid gray;
}

#contents5{
	width: 1600px;
	height: 479px;
	padding: 0px 80px 0 80px;
	margin: 0 auto;
}

#c5_content{
	width: 1600px;
	height: 319px;
	padding: 80px 0;
}

#c2_content li{
	float: left
}
.c2{
	width: 521px;
	height: 421px;
    margin-right: 12px;
    margin-top: 4px;
    margin-bottom: 8px;
}

.c2img{
	height: 349px;
	background-color: black;
}

.c2img img{
	width: 521px;
	height: 349px;	
}

.c2txt{
	width: 488.5px;
	height: 44px;
	padding-left: 16px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 16px; 
}
.c2txt .tit{
	font-size: 18px;
	font-weight: 600;
	color: rgb(34, 34, 34);
}

.c2txt .sub{
	font-size: 14px;
	color:rgb(113, 113, 113);
}

#c4left{
	width: 792px;
	height: 202px;
	padding-right: 16px;
}

#c4right{
	width: 792px;
	height: 202px;
}

#c4lefttop{
	width: 380px;
	height: 144px;
}
#c4leftbtm{
	height: 34px;
	margin-top: 24px;
}

footer{
	width: 1600px;
	height: 398px;
	padding: 0px 80px;
	margin: 0 auto;
}

#footer1{
	width: 1624px;
	height: 233px;
	padding: 48px 0;
	margin: 0 -12px;
} 

#footer2{
	width: 1600px;
	height: 20px;
	padding: 24px 0px;
	border-top: 1px solid gray;
}

.footer1_sec{
	float: left;
	width: 382px;
	height: 233px;
	padding: 0 12px;
}
.footer1_sec li{
	width: 382px;
	height: 20px;
	margin-top: 16px;
	font-size: 14px;
}
h4{
	font-size: 12px;
}
a{
	text-decoration: none;
	color: black; 
}
ul{
	list-style: none;
}

#footer2_div1{
	width:1144px;
	margin-right: 20px;
	float: left;
	font-size: 14px;
}
.dot{
	display: inline-block;
    text-align: center;
    width: 7px;
}

#footer2_div2{
	float: left;
	width: 415px;	
	font-size:14px;
}

#footer2_div2 li{
	float: left;
} 
