main {
    display: block;
}
div {
    display: block;
}
element.style {
    display: inline-block;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
._1nkqnd0 {
    padding-bottom: 0px !important;
    top: 105px !important;
    bottom: 0px !important;
    left: 0px !important;
    right: 0px !important;
}
._1nkqnd0::before {
    content: " " !important;
    display: table !important;
        box-sizing: border-box;
}
._1nkqnd0::after {
    content: " " !important;
    display: table !important;
    clear: both !important;
        box-sizing: border-box;
}
._e296pg {
    position: relative !important;
    min-height: calc(100vh - 80px);
    
}
._8h8epe3 {
    width: 840px !important;
    min-width: 547px !important;
    z-index: 2 !important;
    
}

._uhpzdny {
    position: relative !important;
    margin: 0px auto !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
    max-width: none !important;  
}
._rrw786 {
    padding-top: 50px !important;  
}
._1snxcqc {
    font-size: 14px !important;
    line-height: 18px !important;
    color: rgb(34, 34, 34) !important;
    padding-bottom: 8px !important;
}
._1lbq8dg {
    font-size: 32px !important;
    line-height: 36px !important;
    color: rgb(34, 34, 34) !important;
    font-weight: 800 !important;
}
._14i3z6h {
    color: inherit !important;
    font-size: 1em !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    margin: 0px !important;
    padding: 0px !important;
}
._rci9mp {
    padding-top: 20px !important;
}
._1uuqu9l {
    -webkit-box-align: center !important;
    display: flex !important;
    align-items: center !important;
    margin: 0px -24px !important;
}
._1n8v1oc {
    -webkit-box-flex: 1 !important;
    display: flex !important;
    flex-shrink: 1 !important;
    flex-grow: 1 !important;
}
._m7x2lq {
    height: 48px !important;
    width: 100% !important;
}
._199wki6 {
    padding-right: 0px !important;
    -webkit-box-align: center !important;
    align-items: center !important;
    display: flex !important;
    position: relative !important;
    width: 100% !important;
    z-index: 4 !important;
    height: 48px !important;
    background: rgb(255, 255, 255) !important;
    border-bottom: 0px !important;
    padding: 0px 24px !important;
}
._m9c03w {
    display: inline-block !important;
    vertical-align: top !important;
}
._jro6t0 {
    display: flex !important;
}
._e296pg {
    position: relative !important;
}
._kmf45x {
    display: inline-block !important;
    padding-right: 8px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}
._1o8pdwg {
    cursor: pointer !important;
    text-align: center !important;
    background-color: rgb(255, 255, 255) !important;
    color: rgb(34, 34, 34) !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    position: relative !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    font-size: 12px !important;
    line-height: 16px !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-image: initial !important;
    outline: none !important;
    margin: 0px !important;
    border-color: rgb(176, 176, 176) !important;
    border-radius: 30px !important;
}
._w37zq5 {
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 18px !important;
}
._jro6t0 {
    display: flex !important;
}
._36rlri {
    display: inline-block !important;
}
._kmf45x {
    display: inline-block !important;
    padding-right: 8px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}
._hk8epad {
    display: block !important;
    height: 0px !important;
    visibility: hidden !important;
    pointer-events: none !important;
    background-color: rgb(247, 247, 247) !important;
    color: rgb(34, 34, 34) !important;
    font-weight: 800 !important;
    overflow: hidden !important;
    border-color: rgb(34, 34, 34) !important;
}












