<style type="text/css">
._1cvdx4x {
	
	padding: 24px !important;
	margin: 8px 0 !important;
	text-decoration: none ;
	 
}

.mwt4r90 {
     max-width: 300px ;
    padding-right: 24px !important;
    padding-left: 24px !important;
    border-radius: 8px ;    
    display:inline-block; 
    margin: 0px 150px 0px 150px;
}

</style>