@charset "UTF-8";
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-flex: 0 1 auto;
}
body {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #484848;
    background-color: #fff;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
input, textarea, select, button, a {
    font-family: inherit;
    font-size: 100%;
}
div {
    display: block;
}
main{
	display: block;
}

._mwt4r90 {
	width:580px;
    max-width: 1080px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: auto !important;
    padding-right: 24px !important;
    padding-left: 24px !important;
    box-sizing: border-box;
    margin-bottom: 80px;
}
._mwt4r90::before {
    display: table !important;
}
._mwt4r90::after {
    clear: both !important;
    display: table !important;
}
._14i3z6h {
    color: inherit !important;
    font-size: 1em !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    margin: 0px !important;
    padding: 0px !important;
}
._1yrl4d7p {
    overflow-wrap: break-word !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 32px !important;
    font-weight: 800 !important;
    line-height: 1.125em !important;
    color: rgb(72, 72, 72) !important;
    margin: 0px !important;
}
._1p3joamp {
    overflow-wrap: break-word !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 1.375em !important;
    color: rgb(72, 72, 72) !important;
    margin: 0px !important;
}
._czm8crp {
    overflow-wrap: break-word !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 1.375em !important;
    color: rgb(72, 72, 72) !important;
    margin: 0px !important;
}
._12jvhwr {
    color: #008489 !important;
    font-family: var(--font-font_family, Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif) !important;
    text-align: left !important;
    font: inherit inherit inherit inherit inherit inherit inherit inherit inherit !important;
    text-decoration: none !important;
}
._ba3mo2p {
    overflow-wrap: break-word !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 1.375em !important;
    color: inherit !important;
    margin: 0px !important;
}
._2h22gn {
    margin-left: -8px !important;
    margin-right: -8px !important;
}
._2h22gn::before {
    content: " " !important;
    display: table !important;
}
._2h22gn::after {
    content: " " !important;
    display: table !important;
    clear: both !important;
}
._1rnz84d {
    padding-left: 8px !important;
    padding-right: 8px !important;
    min-height: 1px !important;
    position: relative !important;
}
._hq87c8 {
    display: flex !important;
    flex-wrap: wrap !important;
}
._1m936jew {
    width: 31.5% !important;
    float: left !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    min-height: 1px !important;
    position: relative !important;
}
._15wuypg {
    display: flex !important;
    height: 100% !important;
}
._1cvdx4x {
    display: block !important;
    width: 100% !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 8px !important;
    padding: 24px !important;
    margin: 8px 0px !important;
    border-radius: 8px !important;
    text-decoration: none !important;
}
._xcuo0b {
    height: auto !important;
    margin-bottom: 8px !important;
}
._djxl322 {
    display: table !important;
    position: relative !important;
    height: 100% !important;
    width: 100% !important;
}
._ni9axhe {
    display: table-cell !important;
    vertical-align: middle !important;
}
._36rlri {
    display: inline-block !important;
}
._1p0spma2 {
    overflow-wrap: break-word !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 18px !important;
    font-weight: 800 !important;
    line-height: 1.44444em !important;
    color: rgb(72, 72, 72) !important;
    margin: 0px !important;
}
._1xc0f9k {
    min-height: 48px !important;
}
._czm8crp {
    overflow-wrap: break-word !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 1.375em !important;
    color: rgb(72, 72, 72) !important;
    margin: 0px !important;
}





















