@charset "UTF-8";

hr{
	margin: 25px 0 !important;
}

a{
	  text-decoration: none !important;
}
#mainWrap{
	border-bottom: 1px solid #DDDDDD;
}

#picWrap{
	position: relative;
}

#pics{
	width: 100%;
	height: 592px;
	box-sizing: border-box;
}
#pic1 {
	width: 50%;
	height: 100%;
	overflow: hidden; 
	float: left;
	border: 1px solid #484848;
	box-sizing: border-box;
}
.pic2{
	width: 25%;
	height: 100%;
	background-color: blue;
	float: left;	
	overflow: hidden; 
}
.pic {
	width: 100%;
	height: 50%;
	overflow: hidden; 
	border: 1px solid #484848;
	box-sizing: border-box;
}

#btnTop{
    position: absolute !important;
    top: 24px !important;
    right: 24px !important;
    z-index: 1 !important;
}
#btnBtm{
	box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 1px 1px !important;
    position: absolute !important;
    left: auto !important;
    right: 24px !important;
    bottom: 24px !important;
    transform: translateY(0px) !important;
    z-index: 1 !important;
}
.picBtn{
	font-size: var(--font-button-small-font-size, 14px) !important;
    line-height: var(--font-button-small-line-height, 22px) !important;
    letter-spacing: var(--font-button-small-letter-spacing, normal) !important;
    text-transform: var(--font-button-small-text-transform, undefined) !important;
    padding-top: var(--spacing-button-small-vertical, 6px) !important;
    padding-bottom: var(--spacing-button-small-vertical, 6px) !important;
    font-weight: var(--font-book-font-weight, 600) !important;
    padding-left: var(--spacing-button-small-horizontal, 15px) !important;
    padding-right: var(--spacing-button-small-horizontal, 15px) !important;
    box-shadow: var(--shadow-button-level0-box-shadow, none) !important;
    color: #484848 !important;
    display: inline-block !important;
    position: relative !important;
    text-align: center !important;
    transition-property: background, border-color, color !important;
    transition-duration: 0.2s !important;
    transition-timing-function: ease-out !important;
    width: auto !important;
    cursor: pointer !important;
  	margin-left: 13px;
    text-decoration: none !important;
    border-radius: 4px !important;
    border-width: 1px !important;
    border-style: solid !important;
    background: rgb(255, 255, 255) !important;
    border-color: transparent !important;
}

#descWrap{
	width: 1080px;
	overflow:auto; 
	padding: 0 24px;
	margin: 0 auto;
	box-sizing: border-box;	 
}


#desc{
	width: 602px;
	padding-right: 8px;
	float: left;
	margin-bottom: 60px;
}

#desc_title{
	width: 100%;
	margin-top: 18px;
	margin-bottom: 10px;
}
#titLeft{
	width: 86%;
	height: 100%;
	float: left;
}
#titRight{
	width: 14%;
	height: 90px;
	padding: 0 8px;
	float: right;
}

#mainTit{
	width: 100%;
	height: 75%;
	padding-right: 70px;
	padding-bottom: 8px;
	box-sizing: border-box;
	overflow-wrap: break-word !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 32px !important;
    font-weight: 900 !important;
    line-height: 1.125em !important;
    color: rgb(72, 72, 72) !important;
    padding-top: 4px !important;
    margin: 0px !important;
	
}

#subTit{
	width: 100%;
	height: 25%;
	padding-bottom: 10px;
	box-sizing: border-box;
	overflow-wrap: break-word !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 1.375em !important;
    color: rgb(72, 72, 72) !important;
    margin: 0px !important;
  
}
#hostPic, #hostInfoPic{
	vertical-align: middle !important;
    display: block !important;
    border-radius: 50%;
    border-width: 2px !important;
    border-style: solid !important;
    border-color: rgb(255, 255, 255) !important;
    overflow: hidden !important;
}

#hostName{
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 1.28571em !important;
    color: rgb(118, 118, 118) !important;
    margin: 0px !important;
    text-align: center
}


#resWrap{
	width: 0px;
	height: 100%;
	padding-right: 8px;
	float: left;
	position: relative;
}

#res{
	width: 376px;
	height: 494px;
	margin-left: 45px;
	padding: 16px 24px 24px 24px;
	border: 1px solid #e4e4e4;  
	box-sizing: border-box;
	position: absolute;
    top: 24px;
    font-family: Circular;
}

#res1{
	width: 100%;
	height: 63px;
	border-bottom: 1px solid #e4e4e4;
		margin-bottom: 10px;
}

#res1_1{
	width: 100%;
	height: 26px;
}
#beforeCost{
	text-decoration: line-through !important;
	font-size: 18px !important;
    font-weight: 400 !important;
    line-height: 1.44444em !important;
    color: rgb(72, 72, 72) !important;
}
#afterCost{
	font-size: 18px !important;
    font-weight: 800 !important;
    line-height: 1.44444em !important;
    color: rgb(72, 72, 72) !important;
}
#day{
	font-size: 12px !important;
    font-weight: 600 !important;
    line-height: 1.33333em !important;
    color: rgb(72, 72, 72) !important;
}
#res1_2{
	width: 100%;
	height: 20px;
	padding-bottom: 16px;
}
#res1_2 img{
    will-change: transform !important;
    background-size: 9px 9px !important;
    height: 10px !important;
    transform: none !important;
    background-repeat: space no-repeat !important;
}
#res1_2_1{
	font-size: 12px !important;
    font-weight: 600 !important;
    line-height: 1.33333em !important;
     color: rgb(72, 72, 72) 
}

#res1_2_2{
	font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 1.33333em !important;
    color: rgb(118, 118, 118) !important;
}

#res2 {
	width: 100%;
	height: 401px;
}

#res2 label{
	font-size: 12px !important;
    font-weight: 600 !important;
    line-height: 1.33333em !important;
    color: rgb(72, 72, 72) !important;
}

.res2_1_1{
	width: 326px;
	height: 42px;
	background-color: rgb(255, 255, 255) !important;
    display: table !important;
    table-layout: fixed !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgb(235, 235, 235) !important;
    border-image: initial !important;
    border-radius: 2px !important; 
    box-sizing: border-box;
    margin-bottom: 5px;

	}

.date{
	width: 150px;
	height: 40px;
	padding: 8px 8px 8px 16px;
	box-sizing: border-box;
	float: left;
	text-align: left ;
}

#to{
	width:24px;
	height: 40px;
	padding: 8px 0;
	box-sizing: border-box;
	float: left;
	text-align: left ;
}

input{
    border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;
}
#guest{
	width: 276px;
	height: 22px;
	float: left;
	font-size: 17px;
	font-weight: 400 !important;
    line-height: 1.375em !important;
    color: rgb(72, 72, 72) !important;
    text-align: left ;
   	adding-left: 8px;
   	box-sizing: border-box;
   	padding-left: 8px;
}
#res2_2{
	width: 326px;
	height: 140px;
	margin-bottom: 8px;
}

.res2_2_1{
	width: 326px;
	height: 31px;
	margin-top: 7px;
	border-bottom: 1px solid #e4e4e4;
	font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 1.28571em !important;
    color: rgb(72, 72, 72) !important;
    float: left;
}
.res2_2_1 span, #tot span{
	display: block;
	text-align: right;
}
#tot{
	width: 326px;
	font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 1.28571em !important;
    color: rgb(72, 72, 72) !important;
    float: left;
    margin-top: 8px;
    
}
.res2_2_2, #tot div{
	width: 200px;
	height: 100%;
	float: left;
}
.res2_2_2 div{
	float: left;
}

#res2_3{
	width: 325px;
	height: 90px;
	margin-top: 24px;
}
#res2_3 button{
	background: rgb(255, 90, 95) !important;
    border-color: transparent !important;
    width: 326px;
    height: 46px;
    box-sizing: border-box;
    padding: 10px 22px;
    color: #ffffff !important;
    font-size: var(--font-button-font-size, 16px) !important;
    line-height: var(--font-button-line-height, 24px) !important;
    letter-spacing: var(--font-button-letter-spacing, normal) !important;
    font-family: var(--font-button-font-family, Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif) !important;
    text-transform: var(--font-button-text-transform, undefined) !important;
    padding-top: var(--spacing-button-vertical, 10px) !important;
    padding-bottom: var(--spacing-button-vertical, 10px) !important;
    font-weight: var(--font-bold-font-weight, 800) !important;
    padding-left: var(--spacing-button-horizontal, 22px) !important;
    padding-right: var(--spacing-button-horizontal, 22px) !important;
    box-shadow: var(--shadow-button-level0-box-shadow, none) !important;
	display: inline-block !important;
    position: relative !important;
    text-align: center !important;
    transition-property: background, border-color, color !important;
    transition-duration: 0.2s !important;
    transition-timing-function: ease-out !important;
    cursor: pointer !important;
    margin: 0px !important;
    text-decoration: none !important;
    border-radius: 4px !important;
    border-width: 2px !important;
    border-style: solid !important;
}
#res2_3 div{
	font-size: 12px !important;
    font-weight: 600 !important;
    line-height: 1.33333em !important;
    color: rgb(72, 72, 72) !important;
    text-align: center !important;
    margin-top: 8px;
}

#report{
	width: 376px;
	height: 22px;
	margin-top: 16px;
	margin-left: 45px;
	padding: 0 24px;
	box-sizing: border-box;
	text-align: center;
	font-size: 14px;
	color: #484848;
	position: absolute;
	top: 518px;
}

#hostInfo{
	width:100%;
	margin-bottom: 8px;
}

#hostInfo1{
	width:100%;
	height: 64px;
	margin-bottom: 8px;
}


#hostInfo1 div{
	float: left;
}
#hostInfoPic{
	width: 64px;
	height: 64px;
	border-color: red;
}
#hostInfoDesc{
	width: 530px;
	height: 64px;
}

#hostInfo3{
	width: 100%;
	height: 36px;
	margin-top: 16px;
    margin-bottom: 14px;
}

#hostInfo3 button{
	border-radius: var(--border-button-small-border-radius, 4px) !important;
    font-size: var(--font-button-small-font-size, 14px) !important;
    line-height: var(--font-button-small-line-height, 22px) !important;
    letter-spacing: var(--font-button-small-letter-spacing, normal) !important;
    font-family: var(--font-button-small-font-family, Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif) !important;
    text-transform: var(--font-button-small-text-transform, undefined) !important;
    padding-top: var(--spacing-button-small-vertical, 6px) !important;
    padding-bottom: var(--spacing-button-small-vertical, 6px) !important;
    font-weight: var(--font-book-font-weight, 600) !important;
    border-width: var(--border-button-small-border-width, 1px) !important;
    padding-left: var(--spacing-button-small-horizontal, 15px) !important;
    padding-right: var(--spacing-button-small-horizontal, 15px) !important;
    box-shadow: var(--shadow-button-level0-box-shadow, none) !important;
    background: var(--color-buttons-secondary-color, transparent) !important;
    border-color: var(--color-buttons-secondary-border, #008489) !important;
    color: var(--color-buttons-secondary-text, #008489) !important;
    display: inline-block !important;
    margin: 0px !important;
    position: relative !important;
    text-align: center !important;
    text-decoration: none !important;
    transition-property: background, border-color, color !important;
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: buttonface;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
} 

.pagination {
  display: inline-block;
}

.pagination a {
  color: rgb(0, 132, 137);
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: rgb(0, 132, 137);
  color: white;
  border-radius: 50%;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 50%;
}

.review_rating{
	width: 100%;
	height: 44px;
	border-bottom: 1px solid #eee;
}
.review_rating div{
	float: left;
}
.review_rating_1{
	font-size: 17px !important;
    font-weight: 700 !important;
    line-height: 1.44444em;
    font-family: Circular
}
.review_user {
	width: 100%;
	height: 48px;
	margin-bottom: 16px;
}
.review_user>div, .review_search div{
	float:left;
}
.review_search{
	width: 187px;
	height: 36px;
	background-color: yellow;
	float: right !important;
	background-color: #ffffff !important;
    margin-bottom: var(--unit, 8px) !important;
    font-size: var(--font-form-element-small-font-size, 14px) !important;
    line-height: var(--font-form-element-small-line-height, 22px) !important;
    letter-spacing: var(--font-form-element-small-letter-spacing, normal) !important;
    font-family: var(--font-form-element-small-font-family, Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif) !important;
    text-transform: var(--font-form-element-small-text-transform, undefined) !important;
    color: #484848 !important;
    padding-top: var(--font-form-element-small-padding-top, undefined) !important;
    padding-bottom: var(--font-form-element-small-padding-bottom, undefined) !important;
	display: block !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgb(235, 235, 235) !important;
    border-radius: 4px !important;
}


.review_user_pic{
	width: 48px;
	height: 48px;
}
.review_user_pic img{
	vertical-align: middle !important;
    display: block !important;
    border-radius: 50% !important;
    border-width: 2px !important;
    border-style: solid !important;
    border-color: rgb(255, 255, 255) !important;
    overflow: hidden !important;
}

#calendar, #calendar h2{
	font-family: Circular !important;
}

#calendar h2{	
	font-size: 22px;
	font-weight: 550;
	position: relative;
	left: 50px;  
}

.fc-left{
	margin: 0 auto;
}

.modalBtn{
	width: 46px;
	height: 46px;
	border-radius: 50% !important;
    background: rgb(255, 255, 255) !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgb(176, 176, 176) !important;
    margin: 10px;

}

#madal_con{
	overflow: auto;
}
#modal_top{
	padding: 20px 20px  !important;
	font-size: 16px;
	text-align: center;
}
#modal_img{
	object-fit: cover; 
	border-radius: 16px; 
	max-height: 70vh !important;
	max-width: 85% !important; 
	margin: 0 auto !important; 
	display: block;
}
.w3-modal-content {
    width: 70% !important;
    height: 90% !important;
    
}