<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper	namespace="com.airbnb.s1.booking.BookingDAO">
	
	<resultMap type="PlaceVO" id="PlaceVO">
		<result column="placeNum" property="placeNum"/>
		<result column="placeName" property="placeName"/>
		<result column="placeLocation" property="placeLocation"/>
	</resultMap>
	
	<resultMap type="BookingVO" id="BookingVO">
		<result column="bookingNum" property="bookingNum"/>
		<result column="placeNum" property="placeNum"/>
		<result column="memberNum" property="memberNum"/>
		<result column="bookingStat" property="bookingStat"/>
		<result column="checkInDate" property="checkInDate"/>
		<result column="checkOutDate" property="checkOutDate"/>
		<result column="payType" property="payType"/>
		<result column="payInfo" property="payInfo"/>
		<result column="payTotal" property="payTotal"/>
		<result column="payDate" property="payDate"/>
		<result column="guestTotal" property="guestTotal"/>
		<collection property="placeVO" resultMap="PlaceVO"></collection>
	</resultMap>


	<insert id="booking" parameterType="BookingVO">
		insert into booking (bookingNum, placenum, membernum, bookingstat, checkindate, checkoutdate, guestTotal) values('b'||BOOKING_SEQ.nextval,#{placeNum},#{memberNum}, 0,#{checkInDate},#{checkOutDate},#{guestTotal})
	</insert>
	
	
	
	<update id="payment" parameterType="BookingVO">
		update booking set bookingstat=1,
		paytype = #{payType},
		payinfo= #{payInfo},
		paytotal= #{payTotal},
		paydate=sysdate
		where bookingnum=#{bookingNum}
	</update>
	
	<update id="outRoom" parameterType="BookingVO">
		<![CDATA[
		update booking set bookingstat=2
		where checkoutDate <=sysdate and bookingstat=1
		]]>
	</update>
	
	<update id="afterReview" parameterType="String">
		update booking set bookingStat=3
		where bookingNum=#{bookingNum}
	</update>
	
	<select id="bookingSelect" parameterType="BookingVO" resultType="BookingVO">
		select *
		from(
		   select *
		   from booking
		   where memberNum=#{memberNum} and checkInDate=#{checkInDate} and checkOutDate=#{checkOutDate}
		   order by bookingNum DESC
		)
		
		where ROWNUM = 1
	</select>
	
	<select id="notYet" parameterType="BookingVO" resultMap="BookingVO">
		select b.*, p.placenum, p.placename, p.placeLocation from booking b left join place p
		on b.placenum = p.placenum
		where b.memberNum = #{memberNum} and b.bookingStat=1
		order by payDate DESC
	</select>
	
	<select id="already" parameterType="BookingVO" resultMap="BookingVO">
		<![CDATA[
		select b.*, p.placenum, p.placename, p.placeLocation from booking b left join place p
		on b.placenum = p.placenum
		where b.memberNum = #{memberNum} and b.bookingStat>1
		order by payDate DESC
		]]>
	</select>
	
	<select id="bookingResult" parameterType="String" resultMap="BookingVO">
		select b.*, p.placenum, p.placename, p.placeLocation from booking b left join place p
		on b.placenum = p.placenum
		where b.bookingNum = #{bookingNum}
	</select>
	


</mapper>