<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.airbnb.s1.place.PlaceDAO">

	<resultMap type="PlaceVO" id="listResult">
		<id column="placeNum" property="placeNum"/>
		<result column="memberNum" property="memberNum"/>
		<result column="placeName" property="placeName"/>
		<result column="placeLocation" property="placeLocation"/>
		<result column="placePrice" property="placePrice"/>
		<result column="placeImage" property="placeImage"/>
		<result column="placeType" property="placeType"/>
		<result column="placeMaxGuest" property="placeMaxGuest"/>
		<result column="placeDesc" property="placeDesc"/>
		<result column="placeRule" property="placeRule"/>
		<result column="bed" property="bed"/>
		<result column="bathroom" property="bathroom"/>
		<result column="checkInTime" property="checkInTime"/>
		<result column="checkOutTime" property="checkOutTime"/>
		
		<collection property="placeFileVOs" javaType="List" ofType="PlaceFileVO">
			<id column="placeFileNum" property="placeFileNum"/>
			<result column="placeNum" property="placeNum"/>
			<result column="fileName" property="fileName"/>
			<result column="oriName" property="oriName"/>
		</collection>
	</resultMap>

 	
 	<select id="placeList" resultMap="listResult" parameterType="Map">
		SELECT S.*, F.*
			FROM (SELECT * FROM 
				(SELECT P.*, ROWNUM R FROM
					(SELECT * FROM place where placeLocation LIKE '%'||#{placeVO.placeLocation}||'%' and <![CDATA[placeMaxGuest >=#{guestData} ]]>
								and placeNum NOT IN (SELECT placeNum FROM booking 
										WHERE<![CDATA[(checkInDate >= #{bookingVO.checkInDate} and checkInDate<#{bookingVO.checkOutDate})
											or (checkInDate<#{bookingVO.checkInDate} and checkOutDate>#{bookingVO.checkOutDate})]]>
					) ORDER BY placeNum) P)		
			WHERE R BETWEEN #{pager.startRow} and #{pager.lastRow}) S left join	placeFile F
		ON (S.placeNum = F.placeNum)
	</select>


 	<!-- totalCount 계산 위한 sql문 -->
 	<select id="placeCount" parameterType="Map" resultType="Long"> 		
 		SELECT COUNT(placeNum) FROM place WHERE placeLocation LIKE '%'||#{placeVO.placeLocation}||'%' and <![CDATA[placeMaxGuest >=#{guestData} ]]>
							and placeNum NOT IN (SELECT placeNum FROM booking 
									WHERE<![CDATA[(checkInDate >= #{bookingVO.checkInDate} and checkInDate<#{bookingVO.checkOutDate})
										or (checkInDate<#{bookingVO.checkInDate} and checkOutDate>#{bookingVO.checkOutDate})]]>
				)	
 	</select>

	<select id="placeSelect" parameterType="String" resultType="PlaceVO">
		select * from place where placeNum=#{placeNum}
	</select>
	
	<select id="checkDateSelect" parameterType="String" resultType="BookingVO">
		SELECT * FROM booking where placeNum=#{placeNum}
	</select>
	
	<insert id="placeHostAdd" parameterType="PlaceVO" >
		
	</insert>
	

</mapper>