<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.airbnb.s1.review.ReviewDAO">
	<select id="reviewSelect" parameterType="ReviewPager" resultType="ReviewVO">
		select T.*, name from
	          (select RV.*, rownum R from 
	                                  (select * from review where placeNum=#{placeNum} and reviewDesc like '%'||#{search}||'%') RV) T
	    join member on (T.memberNum = member.memberNum)
	    where R between #{startRow} and #{lastRow}
	</select>
	
	<!-- 해당 숙소의 리뷰 총 개수 -->
	<select id="reviewCount" parameterType="ReviewPager" resultType="Long">
		select count(reviewNum) from review where placeNum=#{placeNum} 
		<if test="search != null">and reviewDesc like '%'||#{search}||'%'</if>
	</select>
	
	<!-- 해당 숙소의 리뷰 점수 -->
	<select id="ratingSum" parameterType="String" resultType="Float">
		select sum(reviewRate) from review where placeNum=#{placeNum} 
	</select>	
	
	<insert id="reviewInsert" parameterType="ReviewVO">
		insert into review values ('r'||review_SEQ.nextval, #{placeNum}, #{memberNum}, #{reviewRate}, #{reviewDesc}, sysdate)
	</insert>
	
</mapper>