<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.airbnb.s1.review.ReviewDAO">
	<select id="reviewSelect" parameterType="Pager" resultType="ReviewVO">
		select * from
		(select RV.*, rownum R from 
		(select * from review where placeNum=#{placeNum} and reviewDesc like '%'||#{search}||'%') RV)
		where R between #{startRow} and #{lastRow}
	</select>
	
	<!-- 해당 숙소의 리뷰 총 개수 -->
	<select id="reviewCount" parameterType="Pager" resultType="Long">
		select count(reviewNum) from review where placeNum=#{placeNum}
		<where>
			<if test="search!='null'"> and reviewDesc like '%'||#{search}||'%' </if>
		</where>
	</select>
	
	<!-- 해당 숙소의 리뷰 점수 -->
	<select id="ratingSum" parameterType="String" resultType="Float">
		select sum(reviewRate) from review where placeNum=#{placeNum} 
	</select>	
</mapper>