<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
		<typeAlias type="java.lang.Long" alias="Long"/>
		<typeAlias type="java.lang.Integer" alias="Int"/>
		<typeAlias type="java.lang.Float" alias="Float"/>
		<typeAlias type="java.util.Map" alias="Map"/>
		<typeAlias type="java.util.List" alias="List"/>
		<typeAlias type="java.lang.String" alias="String"/>

		<typeAlias type="com.airbnb.s1.member.MemberVO" alias="MemberVO"/>
		<typeAlias type="com.airbnb.s1.place.PlaceVO" alias="PlaceVO"/>
		<typeAlias type="com.airbnb.s1.review.ReviewVO" alias="ReviewVO"/>
		<typeAlias type="com.airbnb.s1.booking.BookingVO" alias="BookingVO"/>
		<typeAlias type="com.airbnb.s1.place.placeFile.PlaceFileVO" alias="PlaceFileVO"/>
		<typeAlias type="com.airbnb.s1.amenity.AmenityVO" alias="AmenityVO"/>
		
		<typeAlias type="com.airbnb.s1.util.Pager" alias="Pager"/>
		<typeAlias type="com.airbnb.s1.util.ReviewPager" alias="ReviewPager"/>
		
		
	</typeAliases>
</configuration>